# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Tests

on:
    pull_request:
        branches: ["master"]

    push:
        branches: ["master"]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Install Node.js
              uses: actions/setup-node@v4
              with:
                  cache: "npm"
                  node-version: lts/*

            - run: npm ci
            - run: npm run build --if-present
            - run: npm test

            - name: Coveralls
              uses: coverallsapp/github-action@v2
